<div style="background-color: red; background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%); border-radius: 20px; padding: 2rem; width: 50%; margin: auto; font-family: Arial, sans-serif;">
    <p>Hello, {{ username }}</p>
    <p>Thanks for registering with FitSquare. Please confirm your email by clicking the button below.</p>
    <a href="{{ conformation_link }}" target="_blank" style="cursor: pointer;">
        <button style="background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); border: none; padding: 1rem 2rem; color: white; font-size: 16px; border-radius: 10px; cursor: pointer;">
            Click Here
        </button>
    </a>
</div>
